.card { 
	margin-top: 10px; 
	background-color: white; 
	width: 300px; 
	min-height: 260px; 
	border-radius: 12px; 
	display: flex; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	padding: 32px; 
}

.card h1 {
	font-size: 48px;
	margin: 0 0 24px 0;
}

.user-name {
	text-transform: uppercase;
	white-space: pre-line; /* respect \n for two-line name */
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
}